/* ***** PLACE YOUR CUSTOM STYLES HERE ******/
/* .header-height{
  height: 100%;
  width: 100%;
} */
/* Start of scroll down */


.chevron {
  margin-left:49%;
  margin-top: 130px;
  position: absolute;
  width: 28px;
  height: 8px;
  opacity: 0;
  transform: scale3d(0.5, 0.5, 0.5);
  animation: move 3s ease-out infinite;
}

.chevron:first-child {
  animation: move 3s ease-out 1s infinite;
}

.chevron:nth-child(2) {
  animation: move 3s ease-out 2s infinite;
}

.chevron:before,
.chevron:after {
  content: ' ';
  position: absolute;
  top: 0;
  height: 100%;
  width: 51%;
  background: white;
}

.chevron:before {
  left: 0;
  transform: skew(0deg, 30deg);
}

.chevron:after {
  right: 0;
  width: 50%;
  transform: skew(0deg, -30deg);
}
@keyframes move {
  25% {
    opacity: 1;

  }
  33% {
    opacity: 1;
    transform: translateY(30px);
  }
  67% {
    opacity: 1;
    transform: translateY(40px);
  }
  100% {
    opacity: 0;
    transform: translateY(55px) scale3d(0.5, 0.5, 0.5);
  }
}
@keyframes pulse {
  to {
    opacity: 1;
  }
}
/* end of scroll down */
.heading-bold{
  font-weight: bold;
}

.menu > li > ul li a:hover{
  color: #657287;
  opacity: .5;
}
.widget > form > button{
  width: 30%;
  border: 2px solid #fff;
}
form > button:hover{
  background: #3a539b;
}
.button-login:hover{
  background: #3a539b;
}
.widget > form > input{
  background: #f5f5f5;
  border: none;
  width: 65%;
  height: 50px;
  padding-left: 20px;
  font-weight: 500;
  margin-bottom: 24px;
  border-radius: 0;
}
.slides > li{
  height: 60px;
}

.slides > li > img{
  object-fit: cover;
}
.menu > li > ul{
  width: 300px;
}

/* MAP CSS in INDEX */
.location{
  padding-top: 0px;
  padding-bottom: 100px;
}
#map img {
  max-width: none;
}
#map{
  width: 100%;
  float: left;
}
.country-locations{
  /*float: left;*/
  width: 375px;
  height: 690px;
  /*margin-top: 20px;*/
  /*margin-bottom:  20px;*/
  background-color: #EBEBEB;
  /*margin-left: 2%;*/
  display: none;
  position: absolute;
  left: 68%;
  top:0px;
  background-image: url('img/location_text_bg.png');
  opacity: 0.9;
}
.home-map{
  width: 375px;
  top:13%;
  height: 600px;
}
#countryName{
  height: 10%;
  /*background-color:#F7F7F7;*/
  padding: 2%;
  margin-top: 24px;
  margin-bottom: 0;
  color: #4b4b4b;
  font-family: 'Century Gothic';
  font-size: 25px;
  font-weight: normal;
}
#message{
  height: 80%;
  overflow: auto;
  padding: 2%;
  list-style: none;
  margin: 0%;
}
#message h3{
  color: #4b4b4b;
  font-family: 'Century Gothic';
  font-size: 16px;
  margin-bottom: 5px;
}
#message li{
  font-size: 14px;
  color: #4b4b4b;
  font-family: 'Century Gothic';
  padding: 0% 0% 2% 2%;
  line-height: 1.5;

}
/* MAP CSS ENDS */

.date-form, .zip-form,.email-form{
  background: #f5f5f5;
    border: none;
    width: 100%;
    height: 50px;
    padding-left: 20px;
    font-weight: 500;
    margin-bottom: 24px;
    border-radius: 0;
}
input[type=date]::-webkit-inner-spin-button,
input[type=date]::-webkit-outer-spin-button {
    -webkit-appearance: none;
  }
  input[type=number]::-webkit-inner-spin-button,
  input[type=number]::-webkit-outer-spin-button {
      -webkit-appearance: none;
    }
  .our-locations, .bonded{
    padding-top: 0px;
  }
.tabs {
  padding-top: 0px;
}
footer > .btn:visited{
  color: #fff;
}
.bg-dark{
  background-color: #272072;
}
.outOfSight, .scrolled{
  background: #34008B;
}
.locations-content > .page-content > #map{
  height: 600px;
}
.p0{
  padding-top: 15px;
}
.small-scr-portfolio{
  margin-top: 10px;
  padding-bottom: 20px;
}
.scr-csr{
  padding-top: 20px;
}
@media only screen and (max-width: 750px) {
    h1, h1.large, .h1{
      font-size: 25px;
    }
    .cover p{
      min-height: 50px;
      font-size: 12px;
    }
    section{
      padding: 20px 0;
    }
    .mb-xs-24{
      margin-top:24px;
    }
    .location{
      padding-bottom: 0px;
    }
    .text-left{
      text-align: center;
    }
    .text-right{
      text-align: center;
    }
    .button-tabs .tabs > li:last-child{
      margin-left: 90px;
    }
    .image-square{
      padding-bottom: 30px;
    }
    .apply-btn{
      text-align: center;
    }
    h2{
      font-size: 27px;
    }
    .vert-pages{
      height: 450px;
    }
    .page-title-3, .page-title-4{
      height: 200px;
    }
    .cover.fullscreen .slides li{
      height: 400px;
    }
    nav.transparent .nav-open{
      background: #272072;

    }
    nav.transparent .nav-open .menu > li > a,nav.transparent .nav-open .has-dropdown:after,nav.transparent .nav-open .menu > li > a, nav.transparent .nav-open .module.widget-handle i {
      color: #fff;
    }
    .locations-content > .page-content > #map{
      height: 450px;
    }
    .country-locations{
      /*float: left;*/
      width: 100%;
      height: 80%;
      left: 0;
      top:50px;
    }
    .home-map{
      top:28%;
      height: 300px;
    }
    .small-scr{
      margin-top: 10px;
    }
    .small-scr-portfolio{
      padding-bottom: 0px;
    }
    .scr-csr{
      padding-top: 0px;
    }
    .chevron {
      margin-left: 46%;
      margin-top: 90px;
    }
}
